@media (max-width: 390px) {
  .page-1 {
    height: 90vh;
  }

  .page-2 {
    height: 220vh;
  }

  .page-3 {
    height: 85vh;
    border-top: 2px solid #07C5BF;
  }

  .card-container{
    grid-template-columns: 1fr 1fr;
    margin-right: 8px;
    margin-left: 8px;
  }

  .portrait {
    flex-direction: column;
    border-bottom: none;
    width: 90%;
    padding: 1em;
  }

  .about-content {
    margin-top: 1em;
    border-top: 2px solid #07C5BF;
    width: 100%;
  }

  .project-headers {
    margin-left: 1em;
    width: 95%;
  }
  .projects > a > img:hover {
    scale: 1;
  }

  .projects-content {
    border-bottom: none;
  }

  .projects-content > p {
    margin-right: 6px;
    margin-left: 6px;
  }

  .form-header {
    text-align: center;
  }

  .form-container {
    width: 90%;
  }

  .header>h2 {
    line-height: 1em;
  }

  /* Navbar burger */
  .link {
    margin: 6px;
    font-size: 14px;
  }
}

@media only screen and (max-width: 360px) {
  .page-2 {
    height: 260vh;
  }

  .page-3 {
    height: 100vh;
  }

  .about-content {
    width: 100%;
  }

  .project-headers {
    width: 95%;
  }
}

@media only screen and (max-width: 820px) {
    .portrait > img {
      height: auto;
      width: 45%;
  }

  .page-2 {
    height: 90vh;
  }
}
